:root {
    --color-fondo: #0a0c10;
    --color-gris: #17181b;
    --color-gris-oscuro: #101113;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #0a0c10;
    color: #e2e8f0;
}

.notificacion {
    display: flex;
    position: fixed;
    bottom: 2em;
    right: 1.5em; 
    border-radius: 5px;
    background-color: #1f7a13;
    padding: 10px 15px 10px 15px;
    transition: transform 0.2s ease;
    transform: translate(10em, 0px);
}

.notificacion.mostrar {
    bottom: 2em;
    right: 0px;
    transform: translate(-1.5em, 0px);
}
/* Seccion de arriba */

.cabecera {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--color-fondo);
    align-items: center;
    gap: 8em;
    border-bottom: 1px solid var(--color-gris);
}

.titulo div h1 {
    font-size: 1.5em;
    height: 100%;
}

.direcciones {
    display: flex;
    height: 100%;
}

.direcciones ul {
    display: flex;
    height: 100%;
}

.direcciones ul li{
    display: flex;
    list-style: none;
    height: 100%;
    
}

.direcciones ul li a{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}

.direcciones ul li a:hover{
    background-color: #07080a;
    /* padding-bottom: 21px;
    border-bottom: 3px solid #073592; */
}


/* Seccion cuerpo */


#Sobre-mi {
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    margin: 10px;

    padding: 5em 1em 5em 1em;
    scroll-margin-top: 80px;

    gap: 10px;   
}

#perfil {
    border-radius: 100%;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.contenedor-imagen {
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.contenido {
    background-color: #12141b;
    padding: 20px 30px 30px 30px;
    border-radius: 10px;
}

.contenido h2{
    font-size: 2em;
    margin-bottom: 10px;
    
}

.contenido p {
    max-width: 500px;
}
/* Proyectos */

#Proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo);/*#0a0c10*/
    padding: 30px 50px 30px 50px;
    scroll-margin-top: 60px;
}

.top-proyectos-tittle {
    display: flex;
    justify-content: center;
}

.top-proyectos-tittle h2 {
    text-align: center;
    font-size: 2em;
    padding: 0px 10px 5px 10px;
    border-bottom: 2px solid white;
}

.tarjeta {
    background-color: #12141b;
    margin: 20px 150px 20px 150px;
    max-width: 52em;
    width: 100%;
    padding: 30px;
    border-radius: 5px;

    /* border: 1px solid #0c0b13;
    border-color: white; */

    /* background: radial-gradient(
        circle at center,
        #12161d 0%,
        #0f1016cc 75%,
        #0d1014 100%
    ); */   
}

.tarjeta h3 {
    border-bottom: 3px solid #151922;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.tarjeta p {
    margin-bottom: 10px;
    font-size: 1em;
}
.etiquetas-pro {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.etiquetas-pro span {
    padding: 5px 10px 5px 10px;
    background-color: #083003; /*#093b02*/    
}


/* Tecnologias */

#Tecnologias {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-fondo); /*#0a0d13*/
    padding: 30px;
    scroll-margin-top: 60px;
}

.top-tecnologias-tittle {
    display: flex;
    justify-content: center;
}

.top-tecnologias-tittle h2{
    font-size: 2em;
    text-align: center;
    padding: 0px 10px 5px 10px;
    border-bottom: 2px solid white;
}


.tarjetas-juntas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    max-width: 900px;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.tarjeta-solas {
    background-color: #151922;
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    max-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.tarjeta-solas:hover {
    background-color: #12151d;
    transition: transform 0.2s ease;
    transform: translate(0px, -10px);
}

.tarjeta-solas img {
    height: 60px;
    width: 60px; 
}

.tarjeta-solas div {
    margin-top: 10px;
}

.spring {
    fill: #1f7a13;
}
.info{
    text-align: center;
    font-size: 0.8em;
}
/* Formulario de email */

#Contacto {
    background-color: #151922;
    scroll-margin-top: 55px;
    padding: 50px 0px 50px 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1000px;
}

.top-contacto-tittle {
    display: flex;
    justify-content: center;
    grid-column: 1/3;
}

.formulario h2 {
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 0px 10px 0px 10px;
    font-size: 2rem;
    border-bottom: 2px solid white;
}

label{
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
    width: 100%;
}

input {
    padding: 10px;
    font-size: 0.95rem;
    width: 100%;
    outline: none;
    border: 1.5px solid white; /*#cbd5e0*/
}

input:focus {
    border-color: #3182ce;
}

textarea {
    width: 100%;
    font-size: 0.95rem;
}

select {
    width: 100%;
    padding: 5px;
    font-size: 0.95em;
}

.contac {
    grid-column: 1/3;
}

.externo {
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    
}


i {
    font-size: 2rem;      
    color: white;
    transition: color 0.2s ease;
}

i:hover {
    color: #434958;
}

.campo {
    padding: 0px 10px 10px 10px;
    background-color: #151922;
    display: flex;
    flex-direction: column;
}

.asunto {
    max-width: 200px;
}

.mensaje {
    grid-column: 1 / 3;
}

.campo-enviar {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 3;
}

textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 10px;

    outline: none;
    border: 1.5px solid #cbd5e0;
}

textarea:focus {
    border-color: #3182ce;
}

.botones {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

#envio {
    background-color: #0077ff;
    border: none;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;
}

#envio:hover {
    background-color: #0044ff;
}


/* Pie de pagina */

.pie-pagina {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-fondo);
    padding: 20px;
}


.pie-pagina p a {
    text-decoration: none;
    color: #e2e8f0;
}


/* Barra lateral */

.btn-lateral {
    display: none;
}

.sidebar {
    display: none;
}

.btn-cerrar {
    display: none;
}



@media (max-width: 1119px){
    #Sobre-mi {
        display: flex;
        flex-direction: column;
        
        justify-content: space-evenly;
        margin: 10px;
        gap: 20px;
        padding: 3em 1em 3em 1em;
    }
    .contenido p {
        max-width: 100%;
    }

    .direcciones ul li a{
        font-size: 0.8em;
    }

    #Contacto {
        padding: 50px 25px 50px 25px;
    }

    .titulo div h1 {
        font-size: 1em;
        height: 100%;
    }

    #perfil {
        height: 250px;
        width: 250px;
    }
}

@media (min-width: 720px) {
    .sidebar-fondo {
        display: none;
    }
}

@media (max-width: 720px) {
    #perfil {
        height: 200px;
        width: 200px;
    }
    
    #Contacto {
        background-color: #151922;
        padding: 0px 0px 0px 0px;
        scroll-margin-top: 50px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 25px 0px 25px;
    }

    .formulario h2{
        margin: 24px 0px 24px 0px;
    }

    #Sobre-mi {
        display: flex;
        flex-direction: column;
        
        justify-content: space-evenly;
        margin: 10px;
        gap: 20px;
        padding: 3em 1em 3em 1em;
    }
    
    .contenido p {
        max-width: 100%;
    }

    .titulo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #0a0c10;
        gap: 10px;
        height: 56px;    
    }

    .titulo div h1 {
        font-size: 1em;
        height: 100%;
    }

    .btn-lateral {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: #0a0c10;
        border: none;
        padding: 10px;
    }

    

    .btn-lateral span {   
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        border-radius: 2px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        position: fixed;
        top: 0;
        right: -400px; 
        border-radius: 10px;
        background-color: var(--color-gris); /*#041536*/
        z-index: 1000;
        padding: 20px;
        opacity: 10;
    }

    .sidebar.activo {
        right: 0px;
        inset: 0; 
        margin: 60px auto;
        width: 90%;
        height: 80%;
    }

    .sidebar-fondo {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 99;
            
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .sidebar-fondo.activo {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .btn-cerrar {
        display: none;
        position: fixed;
        top: 16px;
        right: 21px;
        background: transparent;
        border: none;
        padding: 0px;
        color: white;
        font-size: 0.95rem;
        cursor: pointer;
    }

    
    .direcciones-celular {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .direcciones-celular ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: left;
    }

    .direcciones-celular ul li{
        display: flex;
        list-style: none;
        
    }
    
    .direcciones-celular ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    .direcciones {
        display: none;
    }

    .titulo div h1 {
        padding: 10px;
    }
    
    .contenedor-imagen {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    } 


    #Proyectos {
        background-color: var(--color-fondo); /*#0a0e16*/
        padding: 30px 20px 30px 20px;
        scroll-margin-top: 50px;
    }
    
    .tarjeta {
        background-color: #12141b;
        margin: 20px 150px 20px 150px;
        padding: 30px;

        border-radius: 5px;
        /* border-color: 1px solid white;

        background: radial-gradient(
            circle at center,                   
            #12161d 0%,         
            #0f1016cc 75%,          
            #0d1014 100%                        
        ); */
    }

    .tarjetas-juntas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
        width: 100%;
    }    

    .tarjeta-solas {
        max-width: 100%;
    }
    .desactivado {
        display: none;
    }

    .activado {
        display: flex;
    }

    #Tecnologias {
        scroll-margin-top: 50px;
    }
}

@media (max-width: 335px){
    .tarjeta-solas {
        max-width: 120px;
        max-height: 180px;
    }
}